.services {
  padding: 50px 0;
  background-color: #f2f4f6;
}
.services__about {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #101010;
}
.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 125px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 1438px) {
  .services-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 930px) {
  .services-list {
    gap: 40px;
  }
}
